<!DOCTYPE html>
<html lang="FR">

<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bons de commandes • Éditeur</title>
    <link rel="stylesheet" href="/app/static/style.css">

</head>


<body>
<div class="sidebar">
    <span class = titre-nav> Éditeur </span>
    <ul class="liste">
          
        <li class="page-actuelle-nav">
             <a href="/app/templates/Editeur/BonsDeCmd.html">Notifications</span>
       </li>
    </ul>
</div>






</body>











</html>